In [ ]:

chunk_size = 1000  # Liczba wierszy na chunk
chunks = [df[i:i + chunk_size] for i in range(0, df.shape[0], chunk_size)]

for chunk in chunks:
    # Przetwarzaj każdy kawałek
    print(chunk.head())  # Wypisz pierwsze wiersze każdego kawałka

In [ ]:
WITH RECURSIVE date_ranges AS (
  SELECT firma, data_zatrudnienia AS start_date, data_zwolnienia
  FROM zatrudnienie
  UNION ALL
  SELECT firma, date_add(start_date, 1) AS start_date, data_zwolnienia
  FROM date_ranges
  WHERE date_add(start_date, 1) <= data_zwolnienia
)
SELECT firma, start_date AS data
FROM date_ranges
ORDER BY firma, start_date;

In [2]:
import pandas as pd
from pandas.tseries.offsets import MonthBegin

import pandas as pd

# Przykładowe dane dla 6 firm z różnymi okresami zatrudnienia
data = {
    'firma': ['A', 'B', 'C', 'D', 'E', 'F'],
    'data_zatrudnienia': ['2010-01-15', '2011-06-20', '2012-09-01', '2008-03-05', '2009-07-19', '2013-12-10'],
    'data_zwolnienia': ['2020-02-28', '2021-06-30', '2022-08-31', '2018-02-28', '2019-07-30', '2023-11-30']
}

df = pd.DataFrame(data)
df['data_zatrudnienia'] = pd.to_datetime(df['data_zatrudnienia'])
df['data_zwolnienia'] = pd.to_datetime(df['data_zwolnienia'])

# Rozszerzenie zakres

# Rozszerzenie zakresu dat
rows = []
for _, row in df.iterrows():
    r = pd.date_range(start=row['data_zatrudnienia'], end=row['data_zwolnienia'], freq='MS')
    expanded_rows = [(date.strftime('%Y-%m'), row['firma']) for date in r]
    rows.extend(expanded_rows)

# Tworzenie nowego DataFrame
result_df = pd.DataFrame(rows, columns=['data', 'firma'])

print(result_df)

        data firma
0    2010-02     A
1    2010-03     A
2    2010-04     A
3    2010-05     A
4    2010-06     A
..       ...   ...
714  2023-07     F
715  2023-08     F
716  2023-09     F
717  2023-10     F
718  2023-11     F

[719 rows x 2 columns]

In [ ]:
df['money_float'] = df['money_string'].replace(',', '', regex=True).astype(float)

In [ ]:
SELECT DISTINCT ON (col1, col2, col3) *
FROM tabela
ORDER BY col1, col2, col3;

In [ ]:
SELECT col1, col2, col3, MAX(col4) as MaxCol4, MIN(col5) as MinCol5
FROM tabela
GROUP BY col1, col2, col3;

In [ ]:
WITH RankedRecords AS (
  SELECT 
    individual_id, 
    company_crd, 
    date_start, 
    date_end, 
    company_name,
    ROW_NUMBER() OVER (
      PARTITION BY individual_id, company_crd, date_start 
      ORDER BY date_end DESC
    ) as rn
  FROM 
    tabela
)
SELECT 
  individual_id, 
  company_crd, 
  date_start, 
  date_end, 
  company_name
FROM 
  RankedRecords
WHERE 
  rn = 1;