In [ ]:
SELECT DISTINCT ON (col1, col2, col3) *
FROM tabela
ORDER BY col1, col2, col3;

In [ ]:
SELECT col1, col2, col3, MAX(col4) as MaxCol4, MIN(col5) as MinCol5
FROM tabela
GROUP BY col1, col2, col3;

In [ ]:
WITH RankedRecords AS (
  SELECT 
    individual_id, 
    company_crd, 
    date_start, 
    date_end, 
    company_name,
    ROW_NUMBER() OVER (
      PARTITION BY individual_id, company_crd, date_start 
      ORDER BY date_end DESC
    ) as rn
  FROM 
    tabela
)
SELECT 
  individual_id, 
  company_crd, 
  date_start, 
  date_end, 
  company_name
FROM 
  RankedRecords
WHERE 
  rn = 1;