In [ ]:
SELECT DISTINCT ON (col1, col2, col3) *
FROM tabela
ORDER BY col1, col2, col3;

In [ ]:
SELECT col1, col2, col3, MAX(col4) as MaxCol4, MIN(col5) as MinCol5
FROM tabela
GROUP BY col1, col2, col3;