In [ ]:
SELECT ds, COUNT(DISTINCT individual_pk) AS employees_multiple_companies
FROM (
    SELECT 
        DATE_TRUNC('month', ds) as month_ds,
        DATE_TRUNC('month', employment_date) as month_employment,
        DATE_TRUNC('month', date_to) as month_date_to,
        individual_pk,
        COUNT(DISTINCT company_crd) AS companies_count
    FROM employees
    GROUP BY individual_pk, month_ds, month_employment, month_date_to
    HAVING month_ds = month_employment 
          AND (month_date_to IS NULL OR month_date_to >= month_ds)
          AND companies_count > 1
) AS subquery
GROUP BY ds;