In [ ]:
WITH EmployeeHistory AS (
    SELECT 
        individual_id, 
        ds,
        LAG(ds) OVER (PARTITION BY individual_id ORDER BY ds) AS previous_ds
    FROM pracownicy
),
ReturningEmployees AS (
    SELECT 
        individual_id,
        ds
    FROM EmployeeHistory
    WHERE previous_ds IS NOT NULL AND months_between(ds, previous_ds) > 1
)
SELECT 
    ds, 
    COUNT(DISTINCT individual_id) AS liczba_powracajacych_pracownikow
FROM ReturningEmployees
GROUP BY ds
ORDER BY ds;

In [ ]:
SELECT 
    a.date AS Current_Date,
    a.state AS State,
    a.company AS Company,
    a.value AS Current_Value,
    b.date AS Previous_Year_Date,
    b.value AS Previous_Year_Value,
    (a.value / b.value - 1) * 100 AS YoY_Percentage
FROM 
    sales_data a
LEFT JOIN 
    sales_data b 
ON 
    a.date = date_add(b.date, 365)
    AND a.state = b.state
    AND a.company = b.company

In [ ]:
SELECT 
    to_date(date_string, 'yyyy-MM-dd') AS date_converted
FROM 
    your_table_name

In [ ]:
data_dict = {
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35]
}

df = spark.createDataFrame(pd.DataFrame(data_dict))
df.createOrReplaceTempView("people")

In [ ]:
ALTER TABLE my_table
ADD COLUMN country_code VARCHAR(10);

In [ ]:
SELECT 
  MAX(CASE WHEN metric = 'bezrobocie' THEN metric_value END) AS bezrobocie,
  MAX(CASE WHEN metric = 'zarobki' THEN metric_value END) AS zarobki,
  MAX(CASE WHEN metric = 'temperatura' THEN metric_value END) AS temperatura
FROM 
  twoja_tabela
GROUP BY 
  identyfikator_wiersza;  -- Zakładając, że istnieje kolumna, która identyfikuje poszczególne rekordy