In [ ]:
SELECT a.*
FROM TableA a
LEFT JOIN TableB b
ON a.Column1 = b.Column1 AND a.Column2 = b.Column2
WHERE b.KeyColumn IS NULL;